<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Desarrollo de aplicaciones híbridas</ion-card-subtitle>
      <ion-card-title>Contruido con Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta app es un ejemplo  desarrollado con Ionic y Cordova para desarrollo híbrido multiplataforma</p>
      <p>Web, Android</p>
    </ion-card-content>
  </ion-card>
</ion-content>
