<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="9" size-lg="9">
          <ion-card class="welcome-card">
              <ion-card-header>
                <ion-card-subtitle>Desarrollo de aplicaciones híbridas</ion-card-subtitle>
                <ion-card-title>Contruido con Ionic 4</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Esta app es un ejemplo  desarrollado con Ionic 4 y Cordova para desarrollo híbrido multiplataforma</p>
                <p>En la app tiene también la posibilidad de listar y mostrar detalles de usuario de GitHub que se le pase.</p>
                <p>Web, Android</p>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
