<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button text="Repos" routerDirection="backward" (click)="regresar()" [routerLink]="'/tabs/tab3'" >
            <ion-ripple-effect></ion-ripple-effect>
          </ion-back-button>
      </ion-buttons>
    <ion-title >Detalle del repositorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/Octocat.png"></ion-img>
        <ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-subtitle>Repo Info</ion-card-subtitle>
          <ion-card-title>{{repo.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
            <div *ngIf="repo.description; else elseBlock"> 
                {{repo.description}}
                <p> - Languaje - </p>
            </div>
              <ng-template #elseBlock>No hay descripción disponible</ng-template>
        </ion-card-content>
      </ion-card>
</ion-content>
