<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Repositorios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="9" size-lg="9">
          <ion-list inset>
              <ion-item class="autocomplete">
                <ion-label position="floating">Usuario</ion-label>
                <ion-input [(ngModel)]="username" type="text" placeholder="GitHub username" class="autocomplete" autocomplete="on"></ion-input> 
              </ion-item>
            </ion-list>
            <div padding>
              <ion-button expand="block" (click)='getRepo(username)'>
                <ion-ripple-effect></ion-ripple-effect>
                Obtener repositorios
              </ion-button> 
            </div>
          
            <ion-list>
                <ion-item button *ngFor="let repo of repos" [routerLink]="['/datail/', repo]" routerDirection="forward">
                  <ion-ripple-effect></ion-ripple-effect>
                  <ion-avatar slot="start">
                    <ion-img src="/assets/Octocat.png"></ion-img>
                  </ion-avatar>       
                  <ion-label>
                      <h2>{{repo.name}}</h2>
            
                      <p>{{repo.description}}</p>
                    </ion-label>  
                </ion-item>    
            </ion-list>


          <!-- Skeleton screen -->
          <div *ngIf="!repos">
            <ion-list>
              <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
                <ion-avatar slot="start">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <h2>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  </h2>
                  <p>
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                  </p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
